.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.bgimgContainer{
    width:100%;
    height: 230px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}

.userHeader{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    img{
        width: 200px;
        height: 200px;
        position: absolute;
        top: -50%;
        left: 2%;
        border-radius: 15px;
    }
    .userDetails{
        margin: 0;
        padding: 0;
        line-height: 1;
        position: relative;
        left: 25%;
        h2{
            font-weight: bolder;
        }
        .userPosition{
            font-weight: 800;
        }
        .userLocation{
            font-weight: 400;
        }
        .userConnections{
            color: red;
            font-weight: 600;
        }
    }
    .userButtons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        left: 45%;
        button{
            padding: 10px;
            margin: 0px 10px;
            font-weight: 500;
            border-radius: 20px;
            cursor: pointer;
            width: 130px;
            &.msgButton{
                color: #000000;
                background: #ffffff;
                border: 1.5px solid #000000;
            }
            &.connectButton{
                color: #ffffff;
                background: #000000;
                border: 1.5px solid #000000;
            }
        }
    }
}

